@CHARSET "UTF-8";
#transparentdiv{width:100%;height:100%;background-color:black;opacity:0.9;position:absolute;top:0;left:0}
#editprofilediv{position:absolute;top:60px;width:100%;}
#editformdiv{background-color:white;}