<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjectOne</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>spring</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>spring</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pimage</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pimage</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>css</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>css</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>js</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>js</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>woff</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>woff</servlet-name>
		<url-pattern>*.woff</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>woff2</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>woff2</servlet-name>
		<url-pattern>*.woff2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ttf</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ttf</servlet-name>
		<url-pattern>*.ttf</url-pattern>
	</servlet-mapping>
  
</web-app>